:root {
    --light-grey: #B8B8B8;
    --dark-grey: #606060;
    --darker-grey: #404040;
    --pink: #FF0099;
    --purple: #9900FF;
    --white: #FFFFFF;
    --black: #000;
}

body, html {
  text-align: left;
  color: var(--black);
  background-color: var(--darker-grey);
  font-family: "Gayathri", sans-serif;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 0;
  width: 40rem;
  margin: 0 auto;
  border: 1px solid var(--darker-grey);
  background-color: var(--light-grey);
  border-radius: .8rem;
  padding: 0 2rem 1rem 1rem;
}

h1, h4 {
  grid-column: 1 / 13;
  margin-top: 1rem;
  margin-bottom: .5rem;
  text-shadow: 0 0;
}

label, input {
  border-radius: .4rem;
  width: 100%;
}

.item {
  margin-bottom: 1rem;
}

.item_left {
  grid-column: 1 / 7;
}

.item_right {
  grid-column: 7 / 13;
}

.item_whole {
  grid-column: 1 / 13;
  width: 40rem;
  min-width: 100%;
}

.item_street {
  grid-column: 1 / 9;
}

.item_street_number {
  grid-column: 9 / 13;
}

.item_zip{
  grid-column: 1 / 4;
}

.item_city{
  grid-column: 4 / 13;
}

.item_date_left{
  grid-column: 1 / 4;
}

.item_time_left{
  grid-column: 4 / 7;
}

.item_date_right{
  grid-column: 7 / 10;
}

.item_time_right{
  grid-column: 10 / 13;
}

.text_whole {
  min-width: 100%;
}

.checkboxes {
  grid-column: 1 / 13;
  align-items: center;
  padding-left: auto;
}

input[type=checkbox] {
  width: auto;
}

.free_text {
  grid-column: 1 / 13;
  margin: auto;
}

.checkbox {
  margin-bottom: 1rem;
}

.textinput {
    width: 100%;
}

.button{
  width: 10rem;
  float: right;
  padding: .5rem 0;
  margin-top: .5rem;
  grid-column: 9/13;
}

#terms {
  grid-column: 1/13;
}
#checkbox_1{
  grid-column: 1 / 5;
}
#checkbox_2{
  grid-column: 5 / 9;
}
#checkbox_3{
  grid-column: 9 / 13;
}

@media (max-width: 800px), (min-width: 400){
  body, html {
    align: center;
    max-width: 800px;
  }

  form {
    display: block;
    margin: 0 auto;
    width: 100%;
    border: 1px solid var(--darker-grey);
    background-color: var(--light-grey);
    border-radius: .8rem;
    align: auto;
  }

  input {
    width: 60%;
    float: right;
  }

  .item {
    width: 90%;
  }
}

@font-face {
 font-family: Gayathri;
 src: url(https://fonts.googleapis.com/css?family=Gayathri&display=swap);
}

.fa-envelope-o:hover, .fa-home:hover {
  background-color: black;
  color: white;
}

.fa-twitter:hover {
  background-color: blue;
  color: white;
}

.fa-lastfm:hover {
  background-color: red;
  color: white;
}

.fa {
  padding: 10px;
  font-size: 1rem;
  width: 1rem;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  transition: 0.5s;
  color: black;
  background-color: white;
}

.footer {
  border-radius: 25px;
  color: var(--white);
  background-color: var(--light-grey);
  padding: 5px;
  width: 30%;
  margin: auto;
}
